# General
.DS_Store
*.tsbuildinfo

# Node modules
/node_modules/

# React Router
/.react-router/
/build/

# Prisma
/app/generated/prisma
/prisma/migrations/
*.env

# Environment variables - typically .env in root
# .env # Already covered by *.env but can be explicit if only root .env is intended
